*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", system-ui;
  margin-inline: auto;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul{
  padding: 0;
  list-style: none;
}

li{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

/* reset end */

.header-desktop{
  display: none;
}

.header-mobile{
  display: flex;
  justify-content: space-between;
  padding-block: 16px;
  border-bottom: 1px solid #2E3545;
  margin-bottom: 24px;
}

.header-container{
  background-image:linear-gradient( rgba(45, 53, 65, 0.8), rgba(34, 41, 51, 0.9)) , url(../img/careers-main-photo.jpg) ;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 40px;
  padding-inline: 16px;
} 

.header-content p{
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;
  color:#F9F9F9 ;
}

.header-content h1{
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: #F9F9F9;
}

.start-btn-area a{
  background-color: #437EF7;
  text-decoration: none;
  border-radius: 6px;
  display: block;
  text-align: center;
  color: #F9F9F9;
  margin-top: 32px;
  margin-bottom: 40px;
  padding: 12px 18px;
  min-width: 320px;
  margin-inline: auto;
  max-width: 550px;
}

.big-stairs{
  display: none;
}

.middle-stairs{
display: none;
}

.stairs-content img{
  margin-inline: auto;
}

/* select-content start here */

.select-content{
  background-color: #F8F9FB;
  padding-inline: 16px;
}

.select-content-text{
  display: grid;
}
.select-content-text span{
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;
  color: #437EF7;
  margin-top: 32px;
  margin-bottom: 8px;
}

.select-content-text h3{
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-align: center;

}

.select-content-text p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;
  color:#5F6D7E;
  margin-top: 12px;
  margin-bottom: 32px;
}

.select-content-table{
  display: grid;
  gap:20px;
}

.selelct-inner{
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 550px;
}

label{
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color:#272D37;
}

#cars{
  padding: 12px;
}

/* select part over */


/* list-content start here */

.list-content{
  padding-inline: 16px;
  margin-top: 50px;
}

.list-content-top{
  display: flex;
  justify-content: space-between;
}


/* media query start here */

/*! tablet version  */
@media (width >=750px){
.start-btn-area a{
  margin-inline: auto;
  max-width: 380px;
  min-width: 230px;
}

.start-btn-area{
  display: flex;
  justify-content: center;
}
.middle-stairs{
  display: block;
}

.big-stairs{
  display: none;
}
.mini-stairs{
  display: none;
}
.select-content-table{
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}
}


/*? desktop version */
@media (width >= 1200px){
  .mini-stairs{
    display:none
  }

  .middle-stairs{
    display: none;
  }
  .big-stairs{
    display: block;
  }
  .header-mobile{
    display: none;
  }
  
  .header-desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 112px;
    padding-block:20px;
    margin-bottom: 48px;
  }

  .dekstop-nav {
    margin-right:auto;
    gap: 32px;
    margin-left: 64px;
    display: flex;
    flex-direction: row;
  }

  .dekstop-nav a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
  }

  .desktop-links a{
    text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  padding: 12px 18px;
  border-radius: 6px;
  }

  .white-sign{
    color: #437EF7;
  }

  .blue-log{
    color: white;
    background-color:  #437EF7;
  }

  .start-btn-area a{
    width: 120px;
  }

  .header-start-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}
