*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", system-ui;
  margin-inline: auto;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* reset end */

.header-mobile{
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #EAEBF0;
  margin-bottom: 24px;
  background-color:#2E3545;
}

/* Yagmur section start */


.products {
  padding-inline: 18px;
  padding-block: 32px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}

.product img {
  margin-bottom: 16px;
}

.product h3 {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #272D37;
  margin-bottom: 8px;
}

.product p {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #5F6D7E;
}

.learn-more {
  display: flex;
  gap: 6px;
  padding-top: 16px;
  align-items: baseline;
}

.learn-more a {
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  color: #437EF7;
  text-decoration: none;
}

.product-features {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-block: 32px;
  padding-inline: 16px;
}

.product-features-text {
  text-align: center;
}

.product-features-text h2 {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #272D37;
  margin-bottom: 12px;
}

.product-features-text p {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  color: #5F6D7E;
}

.features-part {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
}

.features-text h4 {
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  color: #437EF7;
  margin-bottom: 8px;
}

.features-text h2 {
  font-family: 'Inter';
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #272D37;
  margin-bottom: 16px;
}

.features-text p {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  color: #5F6D7E;
  margin-bottom: 32px;
}

.start-btn {
  background-color: #437EF7;
  max-width: 133px;
  display: flex;
  gap: 6px;
  padding-block: 12px;
  padding-inline: 18px;
  border-radius: 6px;
}

.start-btn a {
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
}

.data-img-tb {
  display: none;
}

.data-image-desktop {
  display: none;
}



@media (width > 375px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
    column-gap: 40px;
    padding-inline: 32px;
    padding-block: 40px;
  }

  .product-features {
    padding-block: 40px;
    padding-inline: 32px;
    gap: 40px;
  }

  .features-text p {
    margin-bottom: 40px;
  }

  .data-img-mb {
    display: none;
  }

  .data-image-desktop {
    display: none;
  }

  .data-img-tb {
    display: block;
  }
}


@media (width > 768px) {
  .products {
    padding-inline: 80px;
    padding-block: 64px;
    row-gap: 32px;
    column-gap: 64px;
  }

  .learn-more {
    display: none;
  }

  .product-features {
    padding-inline: 80px;
    padding-block: 64px;
    gap: 64px;
  }

  .features-part {
    display: flex;
    padding-inline: 32px;
    gap: 140px;
  }

  .data-img-mb {
    display: none;
  }

  .data-image-desktop {
    display: block;
    width: 560px;
  }

  .data-img-tb {
    display: none;
  }

  .features-text {
    width: 516px;
    padding-top: 116px;
  }
}


/*Yagmur section end*/